<div class="card container align-content-center" >
  <div class="card-header">
    <h1>podrzucić tutaj tytuł</h1>
  </div>
  <div class="card-body">
    <p style="color: green"><%= notice %></p>

    <%= render @pin %>

    <div>
      <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
      <%= link_to "Back to pins", pins_path %>

      <%= button_to "Destroy this pin", @pin, method: :delete %>
    </div>
  </div>
  <div class="card-footer">
    <% if user_signed_in? %>
      <%= link_to "Nowy pin", new_pin_path %>
    <%end %>
  </div>
</div>