<div class="card container align-content-center">
  <div class="card-header">
    <h1>podrzucić tutaj tytuł oraz wymusić dodanie pliku bo wyrzuca błąd</h1>
  </div>
  <div class="card-body">
    <p style="color: green"><%= notice %></p>

    <%= image_tag @pin.image , :size => "260x180" if @pin.image.attached? %>

    <%= render @pin %>


    <div>
      <%= link_to "Powrót do pinów", pins_path %>
      <% if @pin.user == current_user %>
        |
        <%= link_to "Edytuj pin", edit_pin_path(@pin) %>
        <%= button_to "Usuń pin", @pin, method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <% if user_signed_in? %>
      <%= link_to "Nowy pin", new_pin_path %>
    <% end %>
  </div>
</div>